<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head> 
        <link rel="stylesheet" href="styles.css">
    </head>
    <body ng-app="assignment6">
        <div ng-controller="msgCtrl">
            <div class ="box">
            <h1>Assignment 6</h1>
            <p>
                ID:<input ng-model="id" />
            </p>
            <p>
                Title:<input ng-model="title" />
            </p>
            <p>
                Contents:<input ng-model="contents" />
            </p>
            <p>
                Author:<input ng-model="author" />    
            </p>
            <button ng-click="addMessage()">Post</button>
            <ul>
                <li ng-repeat="messages in messageList">
                    {{messages.id}}-{{messages.title}}-{{messages.contents}}-{{messages.author}}-{{messages.senttime}} 
                    <button ng-click="deleteMessage()">Delete Post</button>
                </li>
            </ul>
        </div>        
        </div>    
        <script src="https://code.angularjs.org/1.5.0/angular.min.js"></script>
        <script>
            var assignment6 = angular.module('assignment6', []);
            assignment6.controller('msgCtrl', function ($scope, $http) {
                $scope.messageList = [];
                refreshList();

                function refreshList() {
                    $http.get('m/messages').success(function (data) {
                        $scope.messageList = data;
                    });
                }

                $scope.addMessage = function () {
                    $http.post('m/messages', {"id" : parseInt($scope.id), "title" : $scope.title, "contents" : $scope.contents, "author" : $scope.author}).success(refreshList);
                };
                
                $scope.deleteMessage = function (id) {
                    $http.delete('m/messages', {"id" : parseInt(id)}).success(refreshList);
                };
                
            });
        </script>        
    </body>
</html>
